*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    justify-content: center;
    color: white;
    background-color: navy;
    border: 1px solid turquoise;
    border-radius: 2rem;
    width: 500px;
    height: 500px;
}