* {
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-image: url(Gojo.jpeg);
    background-repeat:calc(100);
}
header {
    font-size: 50px;
    margin-right: 85%;
    margin: 10px 0 10px 0;
    backdrop-filter: blur(8px);
    border-radius: 0 2.5rem 2.5rem 0;
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.head{
    justify-content: center;
}
.text{
    margin: 2rem;
}
img {
    height: 50vh;
    margin: 10px;
    border-radius: 25px;
    justify-content: end;
}
span {
    color: #128565;
    font-size: large;
}
.background {
    color: azure;
    display: block;
    border-radius: 2rem;
    display:inline-table;
    border-style: outset;
    border: 1px solid white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 18px;
    border-radius: 1rem;
    transition-delay: 5s;
    transition-duration: 1s;
    transition: background-color 0.2s;
}

.btn:hover{
    background-color: #2ecc71;
    box-shadow: 0 0 5px black,
    0 0 25px green, 0 0 50px blue,
    0 0 100px red, 0 0 200px cyan;
}