* {
    padding: 0;
    margin: 0.5rem;
    font-family: cursive;
}
/*Styling Navigation Bar*/
nav {
    display: flex;
    cursor: pointer;
    color: #fff;
    border-radius: 1rem;
    min-width: 600px;
    font-size: 1.5rem;
    margin-right: 20%;
    align-self: center;
    background-color: #0a0a0a;
    justify-content: space-around;
}
a {
    color: white;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
}
a:hover {
    color: navajowhite;
    border-style: outset;
    text-decoration: none;
    transition-duration: 10ms;
    transition-timing-function: ease-in-out;
}

a { animation: fadeIn 5s infinite}
@keyframes fadeIn {
    0%{opacity: 0; }    
    50%{opacity: 50;}    
    100%{opacity: 0;}
}    

/*Styling Content*/

a::first-letter{
    font-size: 30px;
    font-weight: 1000;
    color: red;
}

.Main {
    color: #aaa;
    background-color: #0a0a0a;
    border-style: inset;
    border-radius: 22px;
}


#intro{
    margin: -2px;
    text-decoration: solid;
}
#intro:hover {
    color: white;
    margin-right: 60%;
}
/*
.header {
}

*/
/*Styling Subheaders*/

/*Styling Skills*/
h2 {
    text-decoration: dashed;
}

/*Certifications Styling*/

/*Quotes Section*/
.quot {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding: 2px;
    width: 500px;
    height: 250px;
    border-radius: 1rem;
    border: 0.01rem solid #0a0a0a;
    border-style:outset;
}

h3 {
    text-decoration: dashed;
    transition: 1s;
    transition-duration: 5s;
}

/*Styling Footer*/

.links {
    display: flex;
    margin: -3.5px;
    color:#0a0a0a;
}
footer {
    width: 100%;
    height: 100%;
    color: black;
    margin-bottom: 25px;
    background-color: grey;
    border: 2px solid white;
    border-radius: 2rem 2rem 0 0;
}